*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}

body{
background:linear-gradient(135deg,#a2a3a5,#464348);
color:#333;
}

/* HERO */
.hero{
text-align:center;
padding:60px 20px;
color:white;
animation:fade 1s ease;
}

.profile{
width:160px;
height:160px;
border-radius:50%;
object-fit:cover;
border:5px solid white;
margin-bottom:20px;
transition:.4s;
}

.profile:hover{
transform:scale(1.08) rotate(2deg);
}

.hero h1{
font-size:2.7rem;
font-weight:700;
}

.subtitle{
opacity:.9;
margin-bottom:25px;
}

/* NAV */
nav a{
margin:0 12px;
text-decoration:none;
color:white;
font-weight:600;
padding:8px 18px;
border-radius:30px;
transition:.3s;
}

nav a:hover{
background:white;
color:#764ba2;
}

/* CARD */
.card{
background:white;
max-width:1000px;
margin:40px auto;
padding:30px;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,0.15);
animation:slideUp .8s ease;
}

.card h2{
margin-bottom:15px;
color:#764ba2;
}

/* GRID */
.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
margin-top:20px;
}

/* SKILLS */
.skill{
background:#f4f4f4;
padding:20px;
border-radius:15px;
text-align:center;
font-weight:600;
transition:.3s;
}

.skill:hover{
background:#764ba2;
color:white;
transform:translateY(-5px);
}

/* PROJECT */
.project{
background:#f9f9f9;
padding:20px;
border-radius:15px;
transition:.3s;
text-align:center;
}

.project:hover{
transform:translateY(-7px);
box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

/* CONTACT */
a{
color:#764ba2;
font-weight:600;
}

/* FOOTER */
footer{
text-align:center;
color:white;
padding:30px;
margin-top:40px;
}

/* ANIMATION */
@keyframes fade{
from{opacity:0}
to{opacity:1}
}

@keyframes slideUp{
from{
transform:translateY(50px);
opacity:0;
}
to{
transform:translateY(0);
opacity:1;
}
}

/* RESPONSIVE */
@media(max-width:600px){

.hero h1{
font-size:2rem;
}

.profile{
width:130px;
height:130px;
}

}